*{
    padding: 0;
    margin:0;
    z-index: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


                /* BACKGROUND-IMG */
.bg-img{
    width:100%;
    height: 750px;
    filter:brightness(50%);

} 
                         /* NAV-BAR */
nav img{
    width:8%;
    position:absolute;
    top:5%;
    left:10%;

}
nav ul{
    position:absolute;
    top:6%;
    left:30%;
    list-style: none;
    color:#ffffff;
    display: flex;
    column-gap:50px;
    font-size: 15px;
    
}
nav ul>li:nth-child(n+5){
    position: relative;
    left:45%;
}
nav ul li>button{
    padding:10px 25px 10px 25px;
    margin-top: -10px;
    color:#ffffff;
    background-color:#fe6c37;
    font-weight: 600;
}
nav ul>li:hover{
    color:#fe6c37
    
}
nav ul li>button:hover{
    background-color: transparent;
    color: #fe6c37;
}

                 /* FIRST-PAGE */
 
                /* FIRST-PAGE LEFT */
.firstpage-left{
    position: absolute;
    top:30%;
    left:10%;
    color:#ffffff;
}     
.firstpage-left h1{
    font-size: 50px;
    width:43%;
    word-spacing: 2px;
    line-height: 1.5;
    
}

.firstpage-left p{
    font-size: 15px;
    width:35%;
    padding-top: 20px;
    color:#ffffffb5;
}
#first-button{
    margin-top:5%;
    padding:18px 35px 18px 35px;
    color:#ffffff;
    background-color:#fe6c37;
    font-weight: 600;
    font-size:15px;
}
#second-button{
    margin-top:5%;
    margin-left: 20px;
    padding:15px 35px 15px 35px;
    color:#ffffff;
    border:2px solid white;
    background-color:transparent;
    font-weight: 600;
}
#first-button:hover{
    color:#fe6c37;
    background-color: transparent;
    transition-property: inherit;
}
#second-button:hover{
    color:#fe6c37;
    border:2px solid #fe6c37;
}

                        /* FIRST-PAGE RIGHT */

 .firstpage-right{
    position: absolute;
    top:45%;
    right: 5%;
 } 
 .first-right-img>img:nth-child(1){
    margin-top:-1px;
    margin-left: 50%;
 }  
 .firstpage-right h1{
    font-size:25px;
    color:#ffffffb3;
    font-weight: 550;
    width:50%;
    margin-top: 30%;
    margin-left: 30%;
 } 
 .first-right-img>img:nth-child(2){
   position: absolute;
   top:75%;
   right:75%;
 }  
 .first-right-img>img:nth-child(3){
    position: absolute;
    top:95%;
    right:5%;
} 
                            /* SECOND-PAGE    * 
              /* FIRST-SECTION*/

#secondpage-first h1{
    font-size: 38px;
    margin-left: 30%;
    width:40%;
    text-align: center;
    padding-top: 5%;
    

}
.second-first-img img{
    width:300px;
    height:390px;
    object-fit:cover;
}
.second-first-img{
    display: flex;
    margin-left:8%;
    margin-top: 5%;
    column-gap:30px; 
}
.second-first-img>img:nth-child(1){
    width:300px;
    height: 400px;
    object-position: -290px -10px;
}


                           /* BLUR-IMAGE */
#first-blur{
    width:300px;
    height:130px;
    background-color:#80808066;
    backdrop-filter:blur(5px);
}
#first-blur-content h1{
    font-size: 22px;
    color:#ffffffb9;
    width:70%;
    margin-left:-10px;
    padding-top: 20px;

}
#first-blur-content p{
    font-size: 15px;
    color:#ffffff87;
    padding-top: 15px;
    margin-left: 17px;
}
 #star-blur{
    margin-left: 17px;
    padding-top: 5px;
}
#first-blur-content button{
    background-color: #fe6c37;
    color:#ffffff;
    font-weight: 550;
    padding: 10px 20px 10px 20px;
     position: relative;
     bottom:60px;
     left:60%;
     border-color: transparent;

}

#second-blur{
    width:300px;
    height:130px;
    background-color:#00000066;
    backdrop-filter:blur(5px);
}
#second-blur-content h1{
    font-size: 22px;
    color:#ffffffb9;
    width:70%;
    margin-left:-10px;
    padding-top: 20px;

}
#second-blur-content p{
    font-size: 15px;
    color:#ffffff87;
    padding-top: 15px;
    margin-left: 17px;
}
 #star-blur{
    margin-left: 17px;
    padding-top: 5px;
}
#second-blur-content button{
    background-color: #fe6c37;
    color:#ffffff;
    font-weight: 550;
    padding: 10px 20px 10px 20px;
     position: relative;
     bottom:60px;
     left:60%;
     border-color: transparent;
}



#third-blur{
    width:300px;
    height:130px;
    background-color:#00000080;
    backdrop-filter:blur(5px);
}
#third-blur-content h1{
    font-size: 22px;
    color:#ffffffb9;
    width:70%;
    margin-left:-20px;
    padding-top: 20px;

}
#third-blur-content p{
    font-size: 15px;
    color:#ffffff87;
    padding-top: 15px;
    margin-left: 17px;
}
 #star-blur{
    margin-left: 17px;
    padding-top: 5px;
}
#third-blur-content button{
    background-color: #fe6c37;
    color:#ffffff;
    font-weight: 550;
    padding: 10px 20px 10px 20px;
     position: relative;
     bottom:60px;
     left:60%;
     border-color: transparent;

}



#fourth-blur{
    width:300px;
    height:130px;
    background-color:rgba(0, 0, 0, 0.5);
    backdrop-filter:blur(5px);  
}

#fourth-blur-content h1{
    font-size: 22px;
    color:#ffffffb9;
    width:70%;
    margin-left:-5px;
    padding-top: 20px;
}
#fourth-blur-content p{
    font-size: 15px;
    color:#ffffff87;
    padding-top: 15px;
    margin-left: 17px;
}
 #star-blur{
    margin-left: 17px;
    padding-top: 5px;
}
#fourth-blur-content button{
    background-color: #fe6c37;
    color:white;
    font-weight: 550;
    padding: 10px 20px 10px 20px;
     position: relative;
     bottom:60px;
     left:60%;
     border-color: transparent;
}
#first-blur button:hover{
    color:#fe6c37;
    background-color: transparent;

}
#second-blur button:hover{
    color:#fe6c37;
    background-color: transparent;

}
#third-blur button:hover{
    color:#fe6c37;
    background-color: transparent;

}
#fourth-blur button:hover{
    color:#fe6c37;
    background-color: transparent;

}

.blur-img{
    position:relative;
    bottom:140px;
    margin-left:8%;
    display: flex;
    column-gap: 30px;
}

                         /* SECOND-SECTION */
  .secondpage-second{
    padding-top: 8%;
    padding-left: 8%;

  }                       
  .secondpage-second img{
    width:38%;
    height:430px;

  }
  .secondpage-second h1{
    position: relative;
    left:45%;
    bottom:430px;
    font-size:40px;
    width:35%;
    word-spacing: 2px;
    line-height: 1.5;
  }
  .secondpage-second p{
    font-size: 15px;
    width:519px;
    word-spacing: 2px;
    color:#000000d7;
    line-height: 1.8;
    position: relative;
    left:45%;
    bottom:400px;

  }
  .secondpage-second button{
    position: relative;
    bottom:350px;
    left:45%;
    
  }
  .secondpage-second-button1{
    padding:15px 30px 15px 30px;
    background-color: #fe6c37;
    color:#ffffff;
    font-weight: 550;
    font-size: 15px;
    border:1px solid white;
  }
  .secondpage-second-button2{
    margin-left: 20px;
    padding:15px 30px 15px 30px;
    background-color:transparent;
    color:#fe6c37;
    font-weight: 550;
    font-size: 15px;
    border:1px solid #fe6c37;
  }
   .secondpage-second-button1:hover{
    background-color: transparent;
    color:#fe6c37;
   }
   .secondpage-second-button2:hover{
    border:1px solid #000000;
    color:#000000;
   }

                  /* THIRD-SECTION */

  .secondpage-third{
    margin-top:-300px;
    box-sizing: border-box;
    width:100%;
    background-color: #ffffff;
  }
  .secondpage-third h1{
    padding-top:80px;
    margin-left: 8%;
    font-size: 40px;
    width:30%;

  }
  .game-recommend{
    
    margin-left: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:10%;
    
  }
  #first-game img{
    width:35%; 
  }
  #first-game h1{
    font-size: 23px;
    margin-left: 38%;
    margin-top:-360px;
    width:40%;
    font-weight: 700;
    padding-bottom: 15px;
  }
  #first-game p{
     font-size: 15px;
     margin-left: 38%;
     margin-top: 25px;
     width:37%;
     color:#000000b9;

  }

  #first-game strong{
    margin-left: 38%;
    color:#fe6c37;  
  }

  .game-download{
    margin-left: 38%;
    margin-top: 40px;
    font-size:15px;
    font-weight: 500;
    padding:15px 30px 15px 30px;
    color:#ffffff;
    background-color: #fe6c37;
    border:1px solid #ffffff;
  }
  #second-game img{
    width:35%; 
  }
  #second-game h1{
    font-size: 23px;
    margin-left: 38%;
    margin-top:-360px;
    width:30%;
    font-weight: 700;
    padding-bottom: 15px;
  }
  #second-game p{
     font-size: 15px;
     margin-left: 38%;
     margin-top: 25px;
     width:40%;
     color:#000000b9;

  }

  #second-game strong{
    margin-left: 38%;
    color:#fe6c37;  
  }


  #third-game img{
    width:35%; 
  }
  #third-game h1{
    font-size: 23px;
    margin-left: 38%;
    margin-top:-360px;
    width:40%;
    font-weight: 700;
    padding-bottom: 15px;
  }
  #third-game p{
     font-size: 15px;
     margin-left: 38%;
     margin-top: 25px;
     width:40%;
     color:#000000b9;

  }

  #third-game strong{
    margin-left: 38%;
    color:#fe6c37;  
  }
  #fourth-game img{
    width:35%; 
  }
  #fourth-game h1{
    font-size: 23px;
    margin-left: 38%;
    margin-top:-360px;
    width:40%;
    font-weight: 700;
    padding-bottom: 15px;
  }
  #fourth-game p{
     font-size: 15px;
     margin-left: 38%;
     margin-top: 25px;
     width:40%;
     color:#000000b9;
  }

  #fourth-game strong{
    margin-left: 38%;
    color:#fe6c37;  
  }
  .game-download:hover{
    color:#fe6c37;
    background-color: transparent;
  }
  
.left-arrow{
    width:30px;
    height: 30px;
    margin-left:75%;
    border:1px solid #ffffff;
    background-color: #f5b69fc1;
    padding:10px 20px 10px 20px;

}
.right-arrow{
    width:30px;
    height: 30px;
    margin-left: 81%;
    position: relative;
    top:-56px;
    border:1px solid #ffffff;
    background-color: #fe6c37;
    padding:10px 20px 10px 20px;

}
.left-arrow:hover{
   width:20px;
   background-color: transparent;
   border:1px solid #fe6c37;
   
}
.right-arrow:hover{
    width:40px;
    background-color: #f5b69fc1;
    border:2px double #f5b69fc1;
    
    
 }

                               /* THIRD-PAGE */


.third-page{
    box-sizing: content-box;
    width:100%;
    background-color: #000000;
    margin-top: 8%;
    
}
#thirdpage-first{
    padding-top: 5%;
}
#thirdpage-first h1{
    color:#ffffff;
    margin-left: 33%;
    font-size: 35px;
    width:25%;
    text-align: center;
    word-spacing: 1px;
}
#thirdpage-first p{
    color:#ffffff;
    font-size: 15px;
    width:38%;
    margin-left: 37%;
    word-spacing: 2px;
    padding-top: 5%;
    color:#ffffff75;
}
.bg-third{
    margin-left:30%;
    margin-top:50px;
    width:70%;
}

.third-img img{
    width:25%;
}
.third-img img:nth-child(1){
   position: relative;
   left:6%;
   bottom:250px;
}
.third-img img:nth-child(2){
    position: relative;
    left:11%;
    bottom:65px;
    width:23%;
    height:400px;
}
.third-img img:nth-child(3){
    width:20%;
    position: relative;
    left:15%;
    bottom:65px;

}

#thirdpage-second h1{
    color: #ffffff;
    font-size: 50px;
    width:40%;
    text-align: center;
    position: relative;
    bottom:410px;
    left:30%;
}
#thirdpage-second img{
    width:99%;
    margin-top: 5%; 
    margin-left: 5px;
    filter: brightness(50%);
}

#thirdpage-second p{
    color:#ffffffa5;
    position: relative;
    bottom:390px;
    left:35%;
    font-size: 18px;
    width:28%;
    text-align: center;
}
#thirdpage-second button{
    position: relative;
    margin-left: 43.5%;
    position: relative;
    bottom:350px;
    background-color: #fe6c37;
    color:#ffffff;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 30px 15px 30px;
    border:1px solid transparent;
}
#thirdpage-second button:hover{
    background-color: transparent;
    color:#fe6c37;
}

                        /* FOOTER */
    footer{
        box-sizing: content-box;
        width:100%;
         height:100%;
         background-color:#000000;
         color: #ffffff;
         margin-top:-10%;

    }
   .footer-left>img{
    margin-top: 2%;
    margin-left: 8%;
    width:8%;

 }
 .footer-left p{
    font-size: 15px;
    width:15%;
    padding-top: 20px;
    line-height: 1.5;
    margin-left: 8%;
    color:#ffffffbe;

 }
 .footer-img{
    margin-left: 7.5%;
    padding-top: 25px; 
 }
 .footer-img img{
    padding-left: 10px;
    width:2.5%;
 }
 .footer-right{
    display:flex;
    margin-left:25%;
    position: relative;
    bottom:180px;

 }
 .footer-right ul li{
    padding-top: 15px;
    list-style: none;
    padding-left: 100px;
    font-size: 15px;
    color:#ffffff9c;
 }
 .footer-right ul li:nth-child(1){
    font-weight: 600;
    color:#ffffff;

 }

 .footer-img img:hover{
    width:2.2%;
 }
 .footer-right ul li:hover{
    color:#fe6c37;

 }