*{
    margin:0px;
    padding:0px;
    background-color: #f5f5f5;
    box-sizing:border-box;

}
nav{
    
    padding:20px 10%;
    height:15vh; 
    
}

ul{
display:flex;
align-items:center;


}
ul>li{
list-style:none;
margin-right: 5%;
font-weight: 500;
}
 
                     /* LIST HOVER */
    ul li:hover{
        color: #008000;
    }               


                        /* main section */


main{
display:flex;
align-items:center;
justify-content:center;
margin-left: 10%;

}
.left{
    width:40%;
}
.left h1{
font-size:65px;
}
.p1{
margin:5% 0;
}
button{
padding:15px 20px;
border:none;
background-color: #3b8655;
border-radius:10px;
color:#ffffff;
font-weight:500;
}
             /* BUTTON HOVER */
button:hover{
background-color: #ffffff;
color:#008000;
border:1px solid #008000;
}
.right{
    width:60%;
    
}
